<div class="container">
  <h2>Busqueda de proveedor</h2>

  <form class="form-control">
    <input
      class="form-control"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    
  </form>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cuil</th>
        <th scope="col">Telefono</th>
        <th scope="col">Pais</th>
        <th scope="col">Direccion</th>
        <th scope="col">Cod.Postal</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaProveedor">
        <td>{{ item.nombre }}</td>
        <td>{{ item.cuil }}</td>
        <td>{{ item.telefono }}</td>
        <td>{{ item.pais }}</td>
        <td>{{ item.direccion }}</td>
        <td>{{ item.codigoPostal }}</td>
        <td>{{ item.correo }}</td>
        <td><button>aceptar</button> - <button>cancelar</button></td>

        
      </tr>

      <tr></tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-secondary">modificar</button>
  <button type="button" class="btn btn-danger">eliminar</button>
  <button type="button" class="btn btn-warning">volver</button>
</div>
