<div class="container">

  <h2>Busqueda de proveedor</h2>


  <form class="form-control">
    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-success " type="submit">Search</button>
  </form>
</div>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Cuil</th>
      <th scope="col">Telegono</th>
      <th scope="col">Pais</th>
      <th scope="col">Direccion</th>
      <th scope="col">Cod.Postal</th>
      <th scope="col">Correo Electronico</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    
      <td>pepe</td>
      <td>123</td>
      <td>@43435</td>
      <td>dasdas</td>
      <td>fasd</td>
      <td>@vgsdfds</td>
      <td>@dasd</td>
    </tr>
    <tr>
      
      <td>pepe</td>
      <td>123</td>
      <td>@43435</td>
      <td>dasdas</td>
      <td>fasd</td>
      <td>@vgsdfds</td>
      <td>@dasd</td>
    </tr>
    <tr>

      


