<div class="container">
    <form>
      <h2>Registro  de nuevo usuario</h2>
      <div class="mb-3">
        <label for="txtNombreUsuario" class="form-label">Nombre del usuario</label>
        <input type="text" class="form-control" id="txtNombreUsuario" name="nombre" />
      </div>
  
      <div class="mb-3">
        <label for="txtContraseña" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="txtContraseña" name="cuil" />
      </div>
  
      <div class="mb-3">
        <label for="txtRepetirContra" class="form-label">Repetir contraseña</label>
        <input type="password" class="form-control" id="txtRepetirContra" name="telefono" />
      </div>
  
  
      <div class="mb-3">
      <label for="txtRol" class="form-label">Seleccione Rol</label>
      <select class="form-select" >
  
          <option value="1">Vendedor</option>
          <option value="2">Encargado de caja</option>
          <option value="3">Encargado de salon</option>
        </select>
      </div>
  
  
      
      <button type="button" class="btn btn-primary">Cancelar</button>
      <button type="button" class="btn btn-warning">Cancelar</button>
  
    </form>
  </div>
  